<div class="container-fluid" style="background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" >
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto mx-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4 text-center">AngularCharityDapp</span>
    </a>
  </header>
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Trustable charity</h1>
    <p class="fs-4 text-center mx-auto px-5">Using Blockchain,We try to create again a trustable charity which has been lately exploited.In the name of charity many high profile scandals have occured our aim is to create trust again in charities</p>
  </div>
  <app-form></app-form>
</div>