<div class="container-fluid"
  style="background: white; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto mx-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4 text-center">AngularCharityDapp</span>
    </a>
  </header>
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Trustable charity</h1>
    <br>
    <p class="fs-4 text-center mx-auto px-5">Using Blockchain, we try to create a trustable charity app which has been
      lately exploited. <br> In the name of charity many high profile scandals have occured our aim is to create trust
      again in charities </p>
  </div>
</div>

<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"></mat-icon>
      Add Organisation
    </ng-template>

    <div class="text-center">

      <div class="pt-5">

        <div class="example-form margin-auto">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Organisation Name</mat-label>
            <input type="text" matInput placeholder="Enter your Organisation Name here" [(ngModel)]="productName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Organisation coins wanted</mat-label>
            <input type="text" matInput placeholder="Enter coins required for your Organisation here"
              [(ngModel)]="productPrice">
          </mat-form-field>

          <button class="example-full-width" mat-raised-button color="primary"
            (click)="createProducts(productName, productPrice)">Add Organisation
          </button>
        </div>
      </div>

    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"></mat-icon>
      Organisations List
    </ng-template>
    <mat-list>
      <div class="container orglist">
        <mat-list-item *ngFor="let product of totalProduct;let i = index; trackBy: trackByFn">
          <!--<mat-icon mat-list-icon>folder</mat-icon>-->
          <img matListAvatar src="../assets/ethereum.png" alt="icon">
          <h4 mat-line>{{product.name}}</h4>
          <p mat-line>$ {{convertEtherToPrice(product.coins_wanted)}}</p>
          <span class="example-spacer"></span>
          <span *ngIf="product.reqSatisfied" style="color: green"> Donated </span>
          <button *ngIf="!product.reqSatisfied" color="primary" mat-button
            (click)="purchaseProducts(product.id, product.coins_wanted)">Donate
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>